/*這是為了讓大大可以比較好區分區塊的CSS，看完可以直接刪掉。*/
#top{
    border-width: 3px; border-style: dashed;border-color: blue;
}
#map{
    border-width: 3px; border-style: dashed;border-color: rgb(255, 0, 0);
}
#introduce{
    border-width: 3px; border-style: dashed;border-color: rgb(229, 255, 0);
}
#video{
    border-width: 3px; border-style: dashed;border-color: rgb(255, 0, 208);
}
#slideshow1{
    border-width: 3px; border-style: dashed;border-color: rgb(255, 187, 0);
}